{% extends 'base.html' %}

{% block main_content %}
    <table>
        <caption>Currency Exchange Project</caption>
        <tr>
            <td>View List:</td><td> <a href="{% url 'currency:rate_list' %}">Click Here</a></td>
        </tr>

        <tr>
            <td>Contact List:</td> <td><a href="{% url 'currency:contact_list' %}">Click Here</a></td>
        </tr>

        <tr>
            <td>Source List:</td> <td><a href="{% url 'currency:source_list' %}">Click Here</a></td>
        </tr>
    </table>

{% endblock main_content %}