{% extends 'base.html' %}


{% block main_content %}
    <table class="center">
     <caption>SOURCE TABLE</caption>
        <tr>
            <th>ID</th>
            <th>Source_url</th>
            <th>Name</th>

            <td><a href="{% url 'currency:source_create' %}">Create new source</a> </td>

        </tr>
            {% for source in source_list %}
                <tr>
                    <td>{{ source.id }}</td>
                    <td>{{ source.source_url }}</td>
                    <td>{{ source.name }}</td>

                    <td>
                         <a href="{% url 'currency:source_details' source.id %}">view details</a>
                        <a href="{% url 'currency:source_update' source.id %}">edit</a>
                        <a href="{% url 'currency:source_delete' source.id %}">delete</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

{% endblock main_content %}