{% extends 'base.html' %}

{% block title %}SOURCE LIST{% endblock title %}

{% block main_content %}
    <div><a href="/source/create/">Create new source</a> </div>

    {% for source in source_list %}
        <div>ID: {{ source.id }}, Source_url: {{ source.source_url }}, Name: {{ source.name }}
            <a href="/source/details/{{ source.id }}/">view details</a>
            <a href="/source/update/{{ source.id }}/">edit</a>
            <a href="/source/delete/{{ source.id }}/">delete</a>

        </div>
    {% endfor %}
{% endblock main_content %}